grayColor = #e5e5e5
blueColor = #428bca

.combodemo
  width 200px

.reactcombobox
  position relative
  width 100%

  &__input-wrap
    position relative

  &__input
    width 100%
    box-sizing border-box

.reactcombobox__arrow
  position absolute
  top 50%
  margin-top -8px
  color #000000;
  right 2px
  cursor pointer
  font-size 14px
  font-family arial, sans-serif

  &:hover
    text-decoration none

  &:focus
    outline 0

  &_disabled
    color #888888
  &_up::after
    content "\25B2"

  &_down::after
    content "\25BC"


.reactcombobox__dropdown
  position absolute
  border solid 1px grayColor
  width 100%
  max-height 200px
  overflow-y auto
  background-color #ffffff
  box-sizing border-box
  z-index 999;

.dropdown-item
  padding 5px
  cursor pointer
  &:hover
    color #FFFFFF
    background-color blueColor
  &_active
    background-color grayColor
  
  
    